.conceptpage{
  width: 100%;
  margin-top: 18%;
  background-image:url(/assets/santamastercalendar-52.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.div{
  margin-top: 20%;
  color : white;
  text-align: justify;
  margin: 60px;
}

.titleHome{
  text-align: center;
  color : #E71D36;
}

span, h3{
  color : #E71D36;
}
.example-button-row{
  display: flex;
  justify-content: space-evenly;
}
.buttonEntry{
  width: 100px;
}

.buttonconceptpage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.mat-raised-button{
  background-color:#E71D36;;
} 