.conceptpage{
  width: 80%;
  margin: auto;
  margin-top: 18%;
}

.div{
  margin-top: 35%;
  color : white;
  text-align: justify;
}

h3{
  text-align: center;
}

span, h3{
  color : #E71D36;
}
.example-button-row{
  display: flex;
  justify-content: space-around;

  button{
  margin-right: 8px;
  }
}

.buttonconceptpage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.mat-raised-button{
  background-color:#E71D36;;
} 