<div class='conceptpage'>
    <div class='div'>
        <h3>DEVENEZ LE SANTA MASTER</h3>
            <p>En ces périodes de fêtes, où l’heure est à être la meilleure version de soi-même, voici SANTA MASTER :
            Affrontez vos amis, votre famille ou vos collègues dans une compétition bienveillante.</p>
            <p>L’objectif est de réaliser tous les jours une action responsable et équitable afin de rendre le monde plus beau.
            Chaque jour, réalisez une bonne action digne d’un père Noël écologique. </p>
            <p>Avant 19h, soumettez-la aux votes des autres prétendants au poste.</p>
            <p>A 00:00, celui ayant réalisé le plus grand nombre de vote devient le Santa du jour. Il prend alors place avec fierté, dans le calendrier à la date du jour.</p>
            <p>Ces points récoltés tout au long de ces 24 jours, vous auront fait faire une guirlande de bonnes actions aussi responsables que équitables. Mais il ne peut avoir qu’un seul <span>SANTA MASTER !</span></p>
    </div>
    <div class='buttonconceptpage'>
        <div class="example-button-row">
            <button mat-raised-button routerLink='formulaire'>Continuer</button>
        </div>
    </div>
</div>