<div class="container">
    <div class="player">   
            <div>
                <img src="/assets/avatarsanta-58.png" class="day"/>
            </div>
            <div>
                <p>André</p>
                <p class="pts">100 points</p>
            </div>
    </div>
    <div class="photo">
        <div class="photo-frame"> 
            <a href="https://zupimages.net/viewer.php?id=19/51/sjpd.jpg"><img src="https://zupimages.net/up/19/51/sjpd.jpg" alt="" /></a>
        </div>
        <p class="para">Ce matin, j'ai offert à mes collègues, du café Colonbien équitable. Succès assuré !!!</p>
    </div>
    <div class="line-pts">
        <div>
            <button mat-raised-button routerLink='/calendrier2' class="buttonEntry">Retour</button>
        </div>
    </div>
</div>