<div class="navbar">
    <h3 class="titleNav">SANTAMASTER</h3>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu">
        <mat-icon class="menu">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/'>
            <mat-icon>emoji_objects</mat-icon>
            <span>Concept</span>
        </button>
        <button mat-menu-item routerLink='calendrier'>
        <button mat-menu-item routerLink='participation'>
            <mat-icon>apps</mat-icon>
            <span>Mon Profil</span>
        </button>
        <button mat-menu-item routerLink='connexion'>
            <mat-icon>person</mat-icon>
            <span>Connexion</span>
        </button>
    </mat-menu>
</div>