.uploadavatar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgavatar{
    display: flex;
    justify-content: center;
}

img{
    height: 150px;
}
.buttonselected, p{
    color: red;
}

.participationpage{
    margin: auto;
    margin-top: 18%;
}

h3, h4{
    text-align: center;
    color : #E71D36;
}

.buttonparticipationpage{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.mat-checkbox-layout{
    margin-bottom: 16px;
}
.mat-raised-button{
    background-color:#E71D36;;
} 