<div class="container">
    <div class="days">
            <img src="/assets/avatarsanta-53-53.png" class="day" routerLink="/gagnant"/>
            <img src="/assets/avatarsanta-54.png" (click)="onDayClicked(day)" class="day" routerLink="/gagnant"/>
            <img src="/assets/avatarsanta-55.png" (click)="onDayClicked(day)" class="day" routerLink="/gagnant"/>
            <img src="/assets/avatarsanta-56-56.png" (click)="onDayClicked(day)" class="day" routerLink="/gagnant"/>
            <img src="/assets/avatarsanta-57.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/avatarsanta-58.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-31.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-32.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-33.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-34.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-35.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-36.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-37.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-38.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-39.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-40.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-41.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-42.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-43.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-44.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-45.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-46.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-47.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
            <img src="/assets/2-48.png" (click)="onDayClicked(day)" class="day" routerLink="/ba"/>
    </div>

    <div class="finalDay">
        <img src="/assets/25-50.png" alt="final day"/>
    </div>
    <div class="days">
        <button mat-raised-button routerLink='/classement' class="buttonEntry">Classement</button>
    </div>
</div>
