.container {
    background-image:url(/assets/Merry-Christmas-stars-balls-decoration_iphone_1242x2688.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.days {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.day {
    width: 70px;
    margin: 10px;
}

.finalDay {
    text-align: center;
}

.finalDay img{
    width: 150px;
}
.buttonEntry{
    width: 100px;
    background-color: #E71D36;
    margin-top: 40px;
  }